p{
    background-color: rgb(149,143,188);
    color:black;
}
h1{
    background-color: red;
    color: #ffff;
    font-size: 40px;
}
.parrafo_par{
    background-color: red;
}
.parrafo_impar{
    background-color: green;
}
#parrafo_principal{
    background-color: gold;
}
